.checkbox-container {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
}

.checkbox-container div {
    width: 25px;
    min-width: 25px;
    display: flex;
}

.checkbox-container input {
    width: 12px;
    height: 12px;
    padding: 0;
}

.checkbox-label {
    color: #94aebf;
    flex-grow: 2;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 14px;
    font-family: 'Azo-Sans-Light', Arial, sans-serif;
    text-align: left;
}

@media (min-width: 1024px) {

    .checkbox-container {
        width: 375px;
        padding: 6px 0;

    }

    .checkbox-container div {
        width: 20px;
        min-width: 20px;
    }

    .checkbox-label {
        margin-left: 2px;
    }

}